﻿@using System.Web.Optimization


@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <environment include="Development">
        <link ref=@Url.Content("~/css/site.css") rel="stylesheet" type="text/css" />

    </environment>

</head>

<body>
    <br />
    <div class="row d-flex" style="justify-content:center">
        <h5 id="teamSelected" style="padding-left:5px; padding-right:10px;"></h5>
        <span class="col-md-6 topBarlabel">            
            <label style="padding-left:10px">Home:</label><a id="homeForm" style="padding-left:5px;"></a>
            <label for="awayForm" style="padding-left:10px">Away</label>:<a id="awayForm" style="padding-left:5px;"></a>
            <label for="totalForm" style="padding-left:10px">Total:</label><a id="totalForm" style="padding-left:5px;"></a>
        </span>
    </div>

    <br />
    <div class="container-fluid d-flex">

        <div id="seasonTable" style="height:600px; overflow-y:scroll" class="col-sm-8 border border-light">
            @{
                await Html.RenderPartialAsync("SeasonTable");
            }
        </div> 
        <div class="col-sm-4">
            @{
                await Html.RenderPartialAsync("MatchScoresForm");

            }
        </div>
    </div>

   
       <script>

           handleClick = (event) => {
               let target = event.target || event.srcElement;
               let teamName = target.innerHTML;
               console.log(teamName);

               $("#teamSelected").html(teamName);

               sendHttpRequest('GET', '/Home/TeamMatchTable/', teamName)
                   .then((data) => {
                       $("#seasonTable").html(data);

                   })
                   .then(() => {
                       sendHttpRequest('GET', '/Home/TeamForm/', teamName)
                           .then((data) => {
                               displayTeamStats(data);
                           })
                   })
           }



           function displayTeamStats(data) {
               // the data returned is divided by a # character, left = home stats, right = away stats      
               let metDivide = false;
               $("#homeForm").html('');
               $("#awayForm").html('');
               $("#totalForm").html('');

               let arrayOfChars = data.split('');

               for (let char of arrayOfChars) {

                   if (char == '#') {
                       metDivide = true;
                   }

                   else if (metDivide == false) {
                       $("#homeForm").append("<b>" + char + "</b>");
                       $("#totalForm").append("<b>" + char + "</b>");
                   }

                   else if (metDivide == true) {
                       $("#awayForm").append("<b>" + char + "</b>");
                       $("#totalForm").append("<b>" + char + "</b>");
                   }
               }

           }



           let sendHttpRequest = function (Type, url, payload) {
               return new Promise((resolve, reject) => {
                   let xhr = new XMLHttpRequest;

                   if (Type == 'GET') {
                       url += payload;
                   }
                   xhr.open(Type, url);
                   xhr.setRequestHeader('Content-Type', 'application/json');
                   xhr.onreadystatechange = function () {
                       if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
                           resolve(xhr.responseText);
                       }
                   }

                   if (Type == 'POST') {
                       xhr.send(payload);
                   }

                   else {
                       xhr.send();
                   }
               })
           }

        </script>    

</body>
</html>