﻿
<h5>Create A Match Record</h5>
<form method="post" action="" id="matchResults">
    <div class="form-row">       
        <div class="form-group col-md-4">
            <input type="date" class="form-control" name="matchDate" id="matchDate" placeholder="Date" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" name="homeTeamName" id="homeTeamName" maxlength="25" placeholder="Home Team" required>
        </div>
        <div class="form-group col-md-3">
            <input type="number" class="form-control" name="homeTeamScore" id="homeTeamScore"  placeholder="Score" min="0" max="12" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" name="awayTeamName" id="awayTeamName"  maxlength="25" placeholder="Away Team" required>
        </div>
        <div class="form-group col-md-3">
            <input type="number" class="form-control" name="awayTeamScore" id="awayTeamScore" min="0" max="12" placeholder="Score" required>
        </div>
    </div>
    <div class="form-group row col-md-6">
        <button type="submit" class="btn btn-outline-secondary btn-block">Submit</button>
    </div>
</form>

<br /><br /><br />
<div class="row col-md-4">
    <button type="submit" onclick="window.location.pathname='Home/Index'" class="btn btn-outline-success btn-block">Back</button>
</div>

<div>@Html.ValidationMessage("InputError")</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $('#matchResults').submit(function (event) {     
        event.preventDefault();

        //the calendar picker returns the date in yyyy-MM-dd format
        // we need to convert it to dd/MM/yyyy
        let dateArray = $('#matchDate').val().split('-');
        let date = dateArray[2] + '/' + dateArray[1] + '/' + dateArray[0];
        
        jQuery.ajax({
            type: "POST",
            url: "https://" + window.location.hostname +":"+ window.location.port + "/api/values",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                matchDate: date,
                homeTeamName: $('#homeTeamName').val(),
                homeTeamScore: $('#homeTeamScore').val(),
                awayTeamName: $('#awayTeamName').val(),
                awayTeamScore: $('#awayTeamScore').val(),
            }),           
            success: function (msg) {
                refresh();
            },

            error: function (e) {
                console.log(e.responseText);
            }
        });      
    });

    function refresh() {
        window.location.pathname = 'Home/Index'; 
    }
</script>
