﻿@using Football.Data;
@using System.Globalization;

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th scope="col" class="th">Match Day</th>
            <th scope="col" class="th">Home Team</th>
            <th scope="col" class="th">Result</th>
            <th scope="col" class="th">Away Team</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (ViewBag.MatchList.Count > 0)
            {
                foreach (Match match in ViewBag.MatchList)
                {
                    DateTime MyDateTime;

                    try
                    {
                        MyDateTime = DateTime.ParseExact(@match.MatchDate.Trim(), "dd/MM/yyyy", CultureInfo.InvariantCulture);

                    }

                    catch(FormatException e)
                    {
                        MyDateTime = DateTime.ParseExact(@match.MatchDate.Trim(), "MM/dd/yyyy", CultureInfo.InvariantCulture);

                    }

                    String month = new DateTimeFormatInfo().GetAbbreviatedMonthName(MyDateTime.Month);
                    String day = MyDateTime.Day.ToString();
                    <tr>
                        <td class="td">@day<sup>th</sup> @month</td>
                        <td class="td">
                            <button type="button" onclick="handleClick(event);" class="list-group-item list-group-item-action">@match.HomeTeamName</button>
                        </td>
                        <td class="td">@match.HomeTeamScore.ToString()<b> - </b>@match.AwayTeamScore.ToString()</td>
                        <td class="td">
                            <button type="button" onclick="handleClick(event);" class="list-group-item list-group-item-action">@match.AwayTeamName</button>
                        </td>
                    </tr>
                }
            }
        }

    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
