﻿@using Football.Data;
@using System.Globalization;

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th scope="col" class="th">Match Day</th>
            <th scope="col" class="th">Home Team</th>
            <th scope="col" class="th">Result</th>
            <th scope="col" class="th">Away Team</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (ViewBag.Matches.Count > 0)
            {
                foreach (Match m in ViewBag.Matches)
                {
                    DateTime MyDateTime;

                    try
                    {
                        MyDateTime = DateTime.ParseExact(@m.MatchDate.Trim(), "dd/MM/yyyy", CultureInfo.InvariantCulture);

                    }

                    catch (FormatException e)
                    {
                        MyDateTime = DateTime.ParseExact(@m.MatchDate.Trim(), "MM/dd/yyyy", CultureInfo.InvariantCulture);
                        
                    }

                    <tr>
                        <td class="td">@MyDateTime.Day.ToString()<sup>th</sup> @MyDateTime.ToString("MMMM")</td>
                        <td class="td">@m.HomeTeamName</td>
                        <td class="td">@m.HomeTeamScore.ToString()<b> - </b>@m.AwayTeamScore.ToString()</td>
                        <td class="td">@m.AwayTeamName</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
