﻿@using Football.Data;

<div class="list-group" style="text-align:center">  

    @foreach (Team team in ViewBag.Teams)
    {
        <button type="button" class="list-group-item list-group-item-action">@team.Name</button>
    }    

</div>
